RC="$( cd "$(dirname "${BASH_SOURCE:-$0}")"; pwd -P )"; export RC
ZDOTDIR="${RC}/.idea"; export ZDOTDIR
eval "$(awk 'FNR > 2 { print "export " $0 }' "${RC}/.env" | grep -v "^$" | sed 's/^/export /g')"

#alias bash4='/usr/bin/env bash --rcfile ${ENV}'
#alias bash='/bin/bash --rcfile ${ENV}'
#alias zsh='/bin/zsh --no-globalrcs'
#alias alpine='cd ${RC} && container run alpine'
